<h1> Current Sell Offers </h1><br>
<%= flash[:notice] if flash[:notice] %>
<%= render partial: 'stock', collection: @stocks %>

<% if signed_in? %>
<%= button_to 'Make a new offer', new_user_listing_path(current_user), method: :get %>
<% end %>