



<% current_user.stocks.each do |stock| %>
  <p>Symbol: <%= stock.stock_symbol %></p>

  <p>Number of Shares: <%= current_user.amount_owned(stock.stock_id) %></p>
  <p>Purchase Price: <%= stock.stock_unit_price %></p> <br>

<% end %>
