<h2> The world's realest Exchange</h2>
<br><br>

<% if Trade.first %>
<h3> Today's biggest mover: </h3>

<%recent_trades=[]%>
  <%Trade.all.each do |trade|%>
    <%if (Time.now.day - trade.created_at.day) <= 1%>
    <%recent_trades << trade %>
  <%end%>
<%end%>

<%popular = recent_trades.max_by do |trade|%>
  <%trade.listing.price.fractional%>
<%end%>

<h1> <%= Stock.find(popular.stock_id).symbol %></h1>
<h2> Last price: <%= popular.listing.price.format %> </h2>
<%= link_to "Trade", listings_path %>
<% end %>